@font-face {
    font-family: "glacial-indifference";
    src: url("../src/assets/fontes/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "glacial-indifference", Times, Serif;
    background-color: #fff3e9;
}

@font-face  {
font-family: "questrial";
src: url("../src/assets/fontes/Questrial/Questrial-Regular.ttf") format("opentype");
font-weight: normal;
font-style: normal;
}
body {
    font-family: "questrial", times, serif;
    background-color: #fff3e9;
}

@font-face {
    font-family: "Open_Sans";
    src: url(../src/assets/fontes/Open_Sans/OFL.txt")
}