<div class="banner">
    <div class="banner-content">
      <img class="banner-img" src="/assets/img/img1.png" alt="">
      <h1>Revele sua beleza única, brilhe do seu jeito!</h1>
      <button class="buy-button">COMPRE AQUI ></button>
    </div>
  </div>
  <br>
  <br>

  <div class="favorites">
    <h2>SEUS FAVORITOS</h2>
    <div class="products">
      <div class="product1">
        <img src="../../assets/img2.png" alt="v">
        <p>Paleta de Sombras<br><span>Frescor e Leveza</span></p>
      </div>
      <div class="product2">
        <img src="../../assets/img/img3.png" alt="aa">
        <p>Base Líquida<br><span>Doçura</span></p>
      </div>
      <div class="product3">
        <img src="../../assets/img/img4.png" alt="aa">
        <p>Brilho Labial<br><span>Me Nota</span></p>
      </div>
    </div>
  </div>

<div class="navbar">
  <div class="logo">MG M A K E</div>
  <input type="text" class="search-bar" placeholder="Digite o que você procura...">
  <div class="nav-icons">
    <span>Meus Pedidos</span>
    <span>Entre ou Cadastre-se</span>
    <span>Carrinho</span>
  </div>
</div>

<div class="banner3">
  <img src="../../assets/img/img5.png" alt="Banner Promocional">
</div>

<div class="recommended">
  <h2>Recomendados para Você</h2>
  <div class="products">
    <div class="product-card">
      <img src="../../assets/img/img6.png" alt="Produto 1">
      <p>Vegano</p>
      <h3>Vult</h3>
      <p>Essentials Rose - Paleta de Sombras 3g</p>
      <p class="price">R$ 25,90</p>
    </div>
    <div class="product-card">
      <img src="../../assets/img/img7.png" alt="Produto 2">
      <p>Vult</p>
      <h3>Essentials Rose - Paleta de Sombras 3g</h3>
      <p class="price">R$ 39,90</p>
    </div>
    <div class="product-card">
      <img src="../../assets/img/img8.png" alt="Produto 3">
      <p>Vult</p>
      <h3>Camilla Loures - Paleta de Sombras 10g</h3>
      <p class="price">R$ 48,90</p>
    </div>
    <div class="product-card">
      <img src="../../assets/img/img9.png" alt="Produto 4">
      <p>Fran by Franciny Ehlke</p>
      <h3>Kit Glosslicious (3 Produtos)</h3>
      <p class="price">R$ 75,90</p>
    </div>
    <div class="product-card">
      <img src="../../assets/img/img10(l).png" alt="produto 5">
      <p> L`Oréal Paris </p>
      <h3>Revitalift Blur Mágico - Primer Facial 27gn</h3>
      <p class="price">R$ 64,90</p>
      </div>
    <div class="product-card">
      <img src="../../assets/img/img11.png" alt="produto 6">
      <p>Nivea</p>
      <h3>Kit lenços Demaquilantes 3 em 1 (2 produtos)</h3>
      <p class="price">R$ 38,80</p>
    </div>
      <div class="product-card">
        <img src="../../assets/img/img12.png" alt="Produto7">
        <p>Essence</p>
        <h3>Naill Art Dry Drops- Óleo secante para Esmalte 8ml</h3>
    <p class="price"> R$ 12,90</p>
      </div>
      <div class="product-card">
        <img src="../../assets/img/img13.png" alt="Produto8">
        <p>L`Óreal Paris</p>
        <h3>Dermo Expertise Base 5 em 1 FPS 20 Média- BB Cream 30ml</h3>
        <p class="price"> R$ 44,90</p>
      </div>
      <div class="product-card">
    <img src="../../assets/img/img14.png" alt="Produto8">
    <p>Ruby Kisses</p>
    <h3>Kiss New York 3D Contour Artist PowerLight Medium- Paleta de Contorno 28,8g</h3>
    <p class="price"> R$ 44,90</p>
      </div>
      <div class="product-card">
        <img src="../../assets/img/img15.png" alt="Produto9">
    <p>Catharine Hill</p>
    <h3>Face Powder Fixer Pálido- Pó Solto Natural 12g</h3>
    <p class="price"> R$ 47,90</p>
      </div>
      <div class="product-card">
        <img src="../../assets/img/img16.png" alt="Produto10">
        <p>Catharine Hill</p>
        <h3>Angel Magic Pri Lessa </h3>
        <p class="price"> R$54,90</p>
      </div>
    <div>
      <div class="product-card">
        <img src="../../assets/img/img17.png" alt="Produto11">
        <p>Real Techniques</p>
        <h3>Kit Everyday Essentials(5 produtos)</h3>
        <p class="price"> R$ 219,90</p>
      </div>
    </div>
  </div>
</div>


<div class="footer-container">
  <div class="footer-image1">
    <img src="../../assets/img/img18.png" alt="Imagem de produtos de maquiagem">
  </div>

  <div class="footer-text">
    <h2>VOLTE SEMPRE!</h2>
    <div class="social-links">
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <p>MG_make<br>(xx) x xxxx-xxxx</p>
  </div>
</div>
